h1 {
    text-align: center;
}

.inputs {
    display: flex;
    //align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 1.5rem;
}

.container-fluid {
    margin-top: 1rem;
}

.inputs {
    margin-top: 5rem;
}